.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.frase {
    font-style: italic;
    font-size: 1.1rem;
    color: #f0a5a5;
    margin-bottom: 15px;
}

.creditos{
    font-size: 1rem;
    margin-bottom: 5px;
}